@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Root Variables for Theming and Spacing */
:root {
    /* Theme and Spacing */
    --freezeframe-bg: rgba(30, 30, 30, 1.0);
    --freezeframe-theme-trim-color: rgba(48, 179, 164);
    --freezeframe-white: rgba(190, 190, 190, 1);
    --freezeframe-lighter-bg: rgba(40, 40, 40, 1);

    --sidebar-text-color: var(--freezeframe-white);
    --sidebar-border-color: var(--freezeframe-white);
    --sidebar-toggle-button-bg: var(--freezeframe-bg);
    --sidebar-toggle-button-border: var(--freezeframe-white);
    --arrow-icon-color: var(--freezeframe-white);

    /* Font Family */
    --font-family-base: 'Roboto', sans-serif;
}

/* Apply Roboto font globally */
html, body, input, textarea, button, select {
   font-family: var(--font-family-base);
}

.tui-play-slate {
   background-color: rgba(0, 0, 0, 0) !important;
}
