@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&family=Numans&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Root Variables for Theming and Spacing */
:root {
    /* Theme and Spacing */
    --pauseshop-bg: rgba(30, 30, 30, 1.0);
    --pauseshop-theme-trim-color: #30b3a4;
    --pauseshop-white: rgba(190, 190, 190, 1);

    --sidebar-text-color: var(--pauseshop-white);
    --sidebar-border-color: var(--pauseshop-white);

    --sidebar-toggle-button-bg: var(--pauseshop-bg);
    --sidebar-toggle-button-border: var(--pauseshop-white);
    --arrow-icon-color: var(--pauseshop-white);
    --toggle-button-size: 25px;

    --spacing-sm: 8px;
    --spacing-md: 10px;
    --spacing-lg: 15px;
    --icon-count-offset: 8px;
}

/* Apply glassy effects to sidebar */
.pauseshop-sidebar {
    /* backdrop-filter: blur(14px); */
    border-radius: 16px;
    border: 1px solid var(--sidebar-border-color);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* Product Card Glassy Effect */
.pauseshop-product-card {
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 1rem;
    background-color: var(--pauseshop-bg);
    border: 1px solid var(--sidebar-border-color);
    margin: 0.25rem;
    padding: .25rem;
}

/* Product List Styles */
.pauseshop-product-list {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

/* Product Card Header Styles */
.pauseshop-product-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    cursor: pointer;
}

/* Product Card Title Styles */
.pauseshop-product-card-title {
    color: var(--pauseshop-white);
    font-size: 1.5rem;
    font-weight: 600;
}

/* Product Card Arrow Styles */
.pauseshop-product-card-arrow {
    color: var(--pauseshop-white);
}

/* Product Card Content Styles */
.pauseshop-product-card-content {
    padding: 1rem;
    border-top: 1px solid #374151;
}

/* Product Card Text Styles */
.pauseshop-product-card-text {
    color: #9ca3af;
}

/* Main Sidebar Container Styles */
.pauseshop-sidebar {
    position: fixed;
    top: 80px;
    width: var(--sidebar-width);
    height: auto;
    max-height: 80vh;
    z-index: 99999;
    transition:
        transform var(--sidebar-transition-speed) ease-in-out,
        width var(--sidebar-transition-speed) ease-in-out,
        left var(--sidebar-transition-speed) ease-in-out,
        right var(--sidebar-transition-speed) ease-in-out,
        max-height var(--sidebar-transition-speed) ease-in-out;
    pointer-events: all;
    background-color: var(--pauseshop-bg);
    overflow: visible;
}

.pauseshop-sidebar.pauseshop-sidebar-compact {
    width: var(--sidebar-compact-width);
    max-height: 70px;
}

.pauseshop-sidebar.position-left {
    left: 20px;
    right: auto;
}

.pauseshop-sidebar.position-right {
    right: 20px;
    left: auto;
}

/* Sidebar Header Styles */
.pauseshop-sidebar-header {
    height: var(--sidebar-header-height);
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
}

/* Sidebar Header Title Container */
.pauseshop-sidebar-header-title-container {
    color: var(--sidebar-text-color);
    transition:
        opacity var(--sidebar-transition-speed) ease-in-out,
        transform var(--sidebar-transition-speed) ease-in-out;
}

.pauseshop-sidebar.pauseshop-sidebar-compact
    .pauseshop-sidebar-header-title-container {
    opacity: 0;
    pointer-events: none;
}

.pauseshop-sidebar-header-icon {
    margin-left: var(--spacing-sm);
}

.pauseshop-sidebar.position-right .pauseshop-sidebar-header-icon {
    margin-left: auto;
    margin-right: var(--spacing-sm);
}

.pauseshop-sidebar-header-title-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    font-family: "Encode Sans SC", sans-serif;
}

.pauseshop-sidebar.position-right .pauseshop-sidebar-header-title-container {
    left: auto;
    right: 50%;
    transform: translateX(50%);
}

.pauseshop-sidebar-header-title-pause {
    font-weight: 900;
    font-size: 2.25rem;
}

.pauseshop-sidebar-header-title-shop {
    font-weight: 400;
    font-size: 2.25rem;
    color: var(--pauseshop-theme-trim-color);
}

/* Sidebar Toggle Button Styles */
.pauseshop-sidebar-toggle-button {
    background-color: var(--sidebar-toggle-button-bg);
    border: 1px solid var(--sidebar-toggle-button-border);
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: var(--spacing-sm);
    z-index: 100001;
    color: var(--sidebar-toggle-button-text);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: var(--toggle-button-size);
    height: var(--toggle-button-size);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.pauseshop-sidebar-toggle-button:hover {
    transform: translateY(-50%) scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.pauseshop-sidebar.position-right .pauseshop-sidebar-toggle-button {
    left: var(--spacing-sm);
    right: auto;
}

.pauseshop-sidebar.pauseshop-sidebar-compact .pauseshop-sidebar-toggle-button {
    right: -35px;
    background-color: var(
        --sidebar-toggle-button-bg
    );
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.pauseshop-sidebar.pauseshop-sidebar-compact.position-right
    .pauseshop-sidebar-toggle-button {
    left: -35px;
    right: auto;
}

/* Arrow Icon Specific Rotation */
.arrow-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 7px;
    border-color: transparent transparent transparent var(--arrow-icon-color);
    transition: transform 0.3s ease-in-out;
}

/* Styles for Compact Sidebar Content */
.pauseshop-compact-sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: calc(var(--spacing-md) + 5px) 0;
    gap: var(--spacing-lg);
    overflow-y: auto;
    flex-grow: 1;
}

/* Styles for LoadingThreeDotsJumping component */
.pauseshop-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: 100%;
    margin-top: 20px;
}

.pauseshop-loading-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.pauseshop-compact-icon-container {
    position: relative;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pauseshop-compact-icon-container:hover {
    transform: scale(1.1);
}

.pauseshop-compact-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pauseshop-compact-icon.icon {
    filter: invert(0.9)
}

.pauseshop-compact-icon-count {
    position: absolute;
    top: calc(
        -1 * var(--icon-count-offset)
    );
    right: calc(
        -1 * var(--icon-count-offset)
    );
    background-color: var(--pauseshop-theme-trim-color);
    color: white;
    border-radius: 50%;
    font-size: 1.2em;
    padding: 1px;
    min-width: 16px;
    min-height: 16px;
    top: -8px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

/* Adjust position of count overlay when sidebar is in right mode */
.pauseshop-sidebar.position-right
    .pauseshop-compact-icon-container
    .pauseshop-compact-icon-count {
    left: -3px;
    right: auto;
}

.arrow-icon.arrow-left {
    transform: rotate(180deg);
}

/* Sidebar Footer Styles */
.pauseshop-sidebar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-sm);
    gap: var(--spacing-sm);
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box; /* Include padding in the width calculation */
}

.pauseshop-sidebar-button {
    background: none;
    border: 1px solid var(--sidebar-border-color);
    border-radius: 4px;
    cursor: pointer;
    color: var(--sidebar-text-color);
    font-size: 0.7rem;
    padding: 3px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
}
