/* Styles for Compact Sidebar Content */
.pauseshop-compact-sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: calc(var(--spacing-md) + 5px) 0;
    gap: var(--spacing-lg);
    overflow-y: auto;
    flex-grow: 1;
}

.pauseshop-compact-icon-container {
    position: relative;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pauseshop-compact-icon-container:hover {
    transform: scale(1.1);
}

.pauseshop-compact-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pauseshop-compact-icon.icon {
    filter: invert(0.9)
}

.pauseshop-compact-icon-count {
    position: absolute;
    top: calc(
        -1 * var(--icon-count-offset)
    );
    right: calc(
        -1 * var(--icon-count-offset)
    );
    background-color: var(--pauseshop-theme-trim-color);
    color: white;
    border-radius: 50%;
    font-size: 1.2em;
    padding: 1px;
    min-width: 16px;
    min-height: 16px;
    top: -8px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

/* Adjust position of count overlay when sidebar is in right mode */
.pauseshop-sidebar.position-right
    .pauseshop-compact-icon-container
    .pauseshop-compact-icon-count {
    left: -3px;
    right: auto;
}