/* Header Styles */
.header {
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: visible;
    transition: height 0s ease-in-out;
    flex-shrink: 0;
}

.header-icon {
    margin-left: 8px;
}

.header.position-right .header-icon {
    margin-left: auto;
    margin-right: 8px;
}

.header-title-container {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    font-family: "Encode Sans SC", sans-serif;
    color: var(--sidebar-text-color);
    transition:
        opacity 0s ease-in-out,
        transform 0s ease-in-out;
    align-self: flex-end;
}

.header.position-right .header-title-container {
    left: auto;
    right: 50%;
    transform: translateX(50%);
}

.header.compact .header-title-container {
    opacity: 0;
    pointer-events: none;
}

.header-title-pause {
    font-weight: 900;
    font-size: 2.25rem;
    margin: 0;
    line-height: 1;
}

.header-title-shop {
    font-weight: 400;
    font-size: 2.25rem;
    color: var(--pauseshop-theme-trim-color);
    margin: 0;
    line-height: 1;
}

/* Button Container */
.button-container {
    position: absolute;
    bottom: 0;
    right: 8px;
    z-index: 100001;
    display: flex;
    flex-direction: row;
    gap: 6px;
    background-color: var(--sidebar-toggle-button-bg);
    border-radius: 8px;
    padding: 2px;
}

.header.position-right .button-container {
    left: 8px;
    right: auto;
}

.header.compact .button-container {
    right: -75px;
    background-color: var(--sidebar-toggle-button-bg);
    border: 1px solid var(--sidebar-border-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.header.compact.position-right .button-container {
    left: -75px;
    right: auto;
}

/* Buttons */
.toggle-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--sidebar-toggle-button-text);
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.toggle-button:hover {
    transform: scale(1.2);
}

.close-button {
    background-color: #dc3545;
    border: none;
    cursor: pointer;
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.close-button:hover {
    transform: scale(1.2);
    background-color: #c82333;
}

/* Button Icons */
.button-icon {
    width: 20px;
    height: 20px;
    filter: invert(0.9);
    transition: transform 0.2s ease-in-out;
}

.close-button .button-icon {
    filter: invert(1) brightness(100%);
}