.pauseshop-thumbnails-scroll-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.pauseshop-thumbnails-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    padding: 4px 0;
    scroll-snap-type: x mandatory; /* Optional: for snapping behavior */

    /* The mask-image and -webkit-mask-image properties will be applied dynamically via JavaScript */
    white-space: nowrap; /* Ensures items stay on a single line */
    scroll-behavior: smooth;
    /* Webkit scrollbar styles */
    &::-webkit-scrollbar {
        height: 6px; /* Make scrollbar thin */
    }
    &::-webkit-scrollbar-track {
        background: transparent; /* Transparent track */
    }
    &::-webkit-scrollbar-thumb {
        background: var(--pauseshop-white); /* Semi-transparent thumb */
        border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: var(--pauseshop-white); /* Slightly more visible on hover */
    }
    /* Firefox scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: var(--pauseshop-white);
}


.pauseshop-thumbnail-list-item {
    scroll-snap-align: start; /* Optional: for snapping behavior */
    flex-shrink: 0;
}

.pauseshop-thumbnail-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 0.375rem; /* rounded-md */
}