/* Styles for Compact Sidebar Content */
.freezeframe-compact-sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    gap: 15px;
    overflow-y: auto;
    flex-grow: 1;
    position: relative; /* Ensure proper positioning context for tooltips */
}

.freezeframe-compact-icon-container {
    position: relative;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.freezeframe-compact-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.freezeframe-compact-icon.icon {
    filter: invert(0.74509803921)
}

.freezeframe-compact-icon-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--freezeframe-theme-trim-color);
    color: white;
    border-radius: 50%;
    font-size: 1.2em;
    padding: 1px;
    min-width: 16px;
    min-height: 16px;
    top: -8px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

/* Adjust position of count overlay when positioned on right */
.freezeframe-sidebar.position-right .freezeframe-compact-icon-container .freezeframe-compact-icon-count {
    left: -3px;
    right: auto;
}

.freezeframe-nothing-found-icon {
    width: 32px;
    height: 32px;
    position: relative;
    top: -1px;
}

.freezeframe-error-icon {
    width: 34px;
    height: 34px;
    position: relative;
    top: -1px;
}
