/* Sidebar Footer Styles */
.freezeframe-sidebar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box; /* Include padding in the width calculation */
}

.freezeframe-sidebar-button {
    background: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--sidebar-text-color);
    font-size: 7px;
    padding: 3px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
}
